.example-container {
  display: flex;
  flex-direction: column;
}


input[type=number] { 
  //-webkit-appearance: texfield !important;
 // -moz-appearance: textfield !important;
  appearance: textfield !important;
  -webkit-appearance: textfield !important;
  margin-right: 2px !important; 
  text-align: right;
}

input[_ngcontent-c1]::-webkit-outer-spin-button { 
  -webkit-appearance: texfield !important;
  -moz-appearance: textfield !important;
  appearance: none;
  margin: 0; 
}
.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.table_form {
  min-width: 550px;
  padding: 0px;
}

.table_form p {
  font-size: 10px;
  text-align: right;
}

.table_form input {
  height: 25px;
  text-align: center;
  max-width: 100px;
}


/* Customize the label (the container) */
.container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
margin-top: 5px;
top: 0;
left: 0;
height: 20 px;
width: 20px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2196F3;
}

.btn-align {
  text-align:  center !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.title-div-centar {
//color: cadetblue;
font-size: 1rem;
padding-top: 1rem;
padding-bottom: 1rem;
//border-bottom: 1px dashed lightblue;
}

.title-div {
color: cadetblue;
font-style: 1rem;
border-bottom: 1px dashed lightblue;
}

.title-div-table {
font-size: 1rem; 
color: cadetblue;
text-align: center !important;
}

.title-div-2 {
font-size: 1.2rem; 
color: cadetblue;
// text-align: center !important;
}

input {
//border: none;
background-color: 	#c3e4e5;
border: 1px solid 	#c3e4e5 !important;
padding-right: 2px !important;
}

.text-align-right {
text-align: right !important;
//padding-right: 2px !important;
}

.text-align-center {
text-align: center;

}

.flex-min-width {
min-width: 470px;
//  max-width: 600px;
//z-index: 1000;
}

.flex-min-width * {
//z-index: 1000;
}

.max-width-70posto {
max-width: 70%;
}
.over-auto {
overflow: visible;
}

.chart-wrapper {
//border-top-style: groove !important;
border: 1px solid lightblue !important;
}

.mw-350 {
min-width: 700px;
height: fit-content;
}

.mw-30posto {
min-width: 370px;
height: fit-content;
//font-size: 0.5rem !important;
}


.mw-400 {
min-width: 280px;
}

.tbl-10 {
// margin: 10px !important;
min-width: 300px !important;
}
.tbl-8kolona {
// margin: 10px !important;
min-width: 300px !important;
}


.td-1{
padding: 0.4rem !important;
}
