<div class="animated fadeIn col-sm-12">
  <div class="d-flex w-100 flex-wrap">
    <!--Parameters-->
    <div class="d-flex w-30 p-2 align-self-start flex-min-width">
      <div class="d-flex w-100 card card-accent-primary">
        <div class="card-header">
          SIMULATION AND MODEL DATA
        </div>
        <div class="card-body d-flex w-100">
          <div class="d-flex flex-column w-100">
            <div class="d-flex w-100 pt-1 align-content-end">
              <div class="d-flex w-60"> &nbsp; </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <button type="submit" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                  (click)="saveSimulation()">SAVE</button>
              </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <input style="display: none" type="file" (change)="openSaveSimulation($event)" #fileInput>
                <button class="btn btn-sm btn-primary d-flex flex-fill btn-align" (click)="fileInput.click()">
                  OPEN
                </button>
              </div>
            </div>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <div class="d-flex flex-column w-100">


                <div class="d-flex title-div pb-1">
                  Simulation paramaters
                </div>
                <div class="d-flex w-100 pt-2">

                  <div class="d-flex flex-column w-45">
                    <div class="d-flex w-100">
                      <div class="w-35 p-1">
                        <span style="vertical-align: middle">Total time</span>
                      </div>
                      <div class="d-flex w-45 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.s}}
                          formControlName="s">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[s]</span>
                      </div>
                    </div>


                  </div>
                  <div class="d-flex flex-column w-55">
                    <div class="d-flex w-100">
                      <div class="d-flex w-45"><span>Type of Simulation</span></div>
                      <div class="d-flex flex-column w-55">
                        <div class="form-check">
                          <input name="simType" class="form-check-input" type="radio" [value]="1"
                            [(ngModel)]="typeOfSimulation" [ngModelOptions]="{standalone: true}">
                          <label class="form-check-label" for="radio1">Time Course</label>
                        </div>
                        <div class="form-check">
                          <input name="simType" class="form-check-input" type="radio" [value]="2"
                            [(ngModel)]="typeOfSimulation" [ngModelOptions]="{standalone: true}">
                          <label class="form-check-label" for="radio3">Titration</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="d-flex title-div pb-1 pt-3">
                Fixed model parameters
              </div>

              <div class="d-flex w-100 pt-2">
                <!-- LEVA KOLONA-->
                <div class="d-flex flex-column w-50">

                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Rate Constant Alpha 0">
                      <span style="vertical-align: middle">Alpha 0</span>
                    </div>
                    <div class="d-flex w-40 p-1 text-align-right">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.alpha_zero}}
                        formControlName="alpha_zero">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Constant Y1">
                      <span style="vertical-align: middle">Y1</span>
                    </div>
                    <div class="d-flex w-40 p-1 text-align-right">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.constant_y1}}
                        formControlName="constant_y1">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Forward Rate Constant K1">
                      <span style="vertical-align: middle">K1</span>
                    </div>
                    <div class="d-flex w-40 p-1 text-align-right">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.constant_k1}}
                        formControlName="constant_k1">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Forward Rate Constant K2">
                      <span style="vertical-align: middle">K2</span>
                    </div>
                    <div class="d-flex w-40 p-1 text-align-right">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.constant_k2}}
                        formControlName="constant_k2">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>


                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Parameter Gama">
                      <span style="vertical-align: middle">Gama</span>
                    </div>
                    <div class="d-flex w-40 p-1 text-align-right">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.parameter_gama}}
                        formControlName="parameter_gama">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div *ngIf="typeOfSimulation === 1" class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Molar Concentration of Myosin">
                      <span style="vertical-align: middle">Myosin</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.myosin}}
                        formControlName="myosin">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>

                  <div *ngIf="typeOfSimulation === 2" class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Molar Concentration of Myosin (Initial)">
                      <span style="vertical-align: middle">Myosin Initial</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.myosin}}
                        formControlName="myosin">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>

                  <div *ngIf="typeOfSimulation === 2" class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Molar Concentration of Myosin (Final)">
                      <span style="vertical-align: middle">Myosin Final</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.final_const_of_myosin}}
                        formControlName="final_const_of_myosin">
                    </div>
                    <div class="w-21 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>


                </div>
                <!-- DESNA KOLONA-->
                <div class="d-flex flex-column w-50">
                  <!--div class="d-flex w-100"> &nbsp;</div-->

                  <div class="d-flex w-100">
                    <div class="w-30 p-1" tooltip="Rate Constant Beta 0">
                      <span style="vertical-align: middle">Beta 0</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.beta_zero}}
                        formControlName="beta_zero">
                    </div>
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-30 p-1" tooltip="Constant Y2">
                      <span style="vertical-align: middle">Y2</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.constant_y2}}
                        formControlName="constant_y2">
                    </div>
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-30 p-1" tooltip="Backward Rate Constant K1'">
                      <span style="vertical-align: middle">K1'</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.constant_k1_prim}}
                        formControlName="constant_k1_prim">
                    </div>
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-30 p-1" tooltip="Backward Rate Constant K2'">
                      <span style="vertical-align: middle">K2'</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.constant_k2_prim}}
                        formControlName="constant_k2_prim">
                    </div>
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-30 p-1" tooltip="Cooperativity Parameter Delta">
                      <span style="vertical-align: middle">Delta</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.parameter_delta}}
                        formControlName="parameter_delta">
                    </div>
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-30 p-1" tooltip="Molar Concentration of Actin">
                      <span style="vertical-align: middle">Actin</span>
                    </div>
                    <div class="d-flex w-40 p-1 text-align-right">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.actin}}
                        formControlName="actin">
                    </div>
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex w-100 pt-3">
                <div class="d-flex flex-column w-45">
                </div>
                <div class="d-flex flex-column w-55">



                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Number of Filaments">
                      <span style="vertical-align: middle">Filaments</span>
                    </div>
                    <div class="w-37 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.number_of_filaments}}
                        formControlName="number_of_filaments">
                    </div>
                    <div class="w-10 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Number of TmTn Units">
                      <span style="vertical-align: middle">TmTn Units</span>
                    </div>
                    <div class="w-37 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.number_of_tm_tn_units}}
                        formControlName="number_of_tm_tn_units">
                    </div>
                    <div class="w-10 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Number of Actin Per Unit">
                      <span style="vertical-align: middle">Actin Per Unit</span>
                    </div>
                    <div class="w-37 p-1">
                      <input class="w-100 text-align-right" type="text"
                        ngModel={{this.inputData.number_of_actin_per_unit}} formControlName="number_of_actin_per_unit">
                    </div>
                    <div class="w-10 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-36 p-1" tooltip="Coopertivity On">
                      <span style="vertical-align: middle">Coopertivity On</span>
                    </div>
                    <div class="w-37 p-1">
                      <input style="vertical-align: middle" type="checkbox"
                        [(ngModel)]="this.inputData.cooperativity_on" formControlName="cooperativity_on">
                    </div>
                  </div>

                </div>
              </div>

              <div class="d-flex w-100 pt-3 ">
                <div class="d-flex w-80"> &nbsp; </div>
                <div class="d-flex w-20 pl-1 pr-1">
                  <button id="dugmeRun" type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                    [disabled]="dugmeRun">{{run_button}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Gaphs-->
    <div class="d-flex w-70 p-2">
      <div class="d-flex card card-accent-primary w-100">
        <div class="card-header">
          RESULTS
          <span class="float-right" tooltip="Download graphic data" placement="left">
            <i (click)="download()" class="fa fa-cloud-download" style="font-size:16px"></i>
          </span>
        </div>
        <div class="d-inline-flex p-2 w-100 flex-wrap justify-content-center">
          <div class="w-100">
            <div class="chart-wrapper">
              <canvas id="graphData"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>