.text-div {
    //color: cadetblue;
    font-size: 1.1rem !important;

    //border-bottom: 1px dashed lightblue;
  }

.title-center {
    text-align: center !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}
  
.text-bold {
    font-weight: bold;
}