<div class="animated fadeIn d-flex">
  <div class="d-flex w-100 ">
    <div class="d-flex w-100 card card-accent-primary ">
      <div class="card-header">
        Software Description
      </div>
      <div class="card-body d-flex w-100  ">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column text-primary title-center">
            <h2> MUSICO-SL</h2>
          </div>
          <div class="text-div w-100">
            This is a web version of Thin Filament Regulation v3.0 software developed in 2006. by Eduard Xiaochuan
            Li, Juan Del Alamo De Petro, Aleksandar Marinkovic, Adriano Alencar, Srboljub Mijailovich. The software provides:
          </div>
          <div class="text-div pl-5 pb-2 w-100">
            <strong> Simulatations of kinetical binding of myosin S1 with actin filaments in regulated muscle. </strong> <br /> The
                three-state Geeve's Model is simulated through numerical and stochatical methods.
                <br /> Reference: <a class="navlink-active" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1304903/">Robin Maytum etc., Biochemistry, 38, 1102-1110, 1999</a> </div>
                <div class="text-div pl-5 pb-2 w-100">
              <strong>The two-state Hill's Model, which is simulated in numerical and stochatical approaches.</strong> <br />The
                cooperativity of Hill's model is implemented in stochatical approach.
                <br /> Reference:  <a class="navlink-active" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1304587/">Yi-der Chen etc., Biophysical Journal, 80, 2338-2349, 2001</a></div>
                <div class="text-div pl-5 pb-2 w-100">
              <strong>Estimation of the Kb, Kt, K1+ and K2+, based on Geeve's Model.</strong> <br /> Estimations are conducted through a
                Resolution matrix parameter estimation method, a Quasi-Newton method, and a Simulated Annealing
                (SIMANN)
                method.
            

          </div>
          <div class="d-flex flex-column text-div pb-2 w-100">

            <div class="d-flex w-100">
              <p>Following simulations and parameter estimations are available:</p>
            </div>
            <!-- 1 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/probabilistic">MG Model –
                  Probabilistic</a> </div>
              <div class="d-flex w-50">The three-state MG model of myosin S1 binding with regulated Actin7. TmTn is
                simulated. The kinetic equations are solved by numerical method.</div>
            </div>
            <!-- 2 -->
            <div class="d-flex w-100 bp-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/stochastical">MG Model -
                  Stochastical</a> </div>
              <div class="d-flex w-50">The three-state MG model of myosin S1 binding with regulated Actin7. TmTn is
                simulated. The kinetic equations are solved by Monte Carlo approach.</div>
            </div>
            <!-- 3 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/hill-stochastical">Hill Model
                  - Stochastical</a> </div>
              <div class="d-flex w-50">The two-state Hill model of myosin S1 binding with regulated Actin7. TmTn is
                simulated. The kinetic equations are solved by Monte Carlo approach. The cooperativity is implemented.
              </div>
            </div>
            <!-- 4 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/hill-probabilistic">Hill Model
                  - Probabilistic</a> </div>
              <div class="d-flex w-50">The two-state Hill model of myosin S1 binding with regulated Actin7. TmTn is
                simulated. The kinetic equations are solved by numerical method.</div>
            </div>
            <!-- 5 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/mg-probabilistic">Parameter
                  Estimation <br /> MG Prob DLS</a> </div>
              <div class="d-flex w-50">Kinetic Parameters, kb, kt, k1+, k2+ of MG model are matched with the
                experimental data. The resolution matrix of those parameters are calculated.</div>
            </div>
            <!-- 6 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/monte-carlo">Parameter
                  Estimation
                  <br /> MG Sto DLS</a> </div>
              <div class="d-flex w-50">Kinetic Parameters, kb, kt, k1+, etc. based on MG model are matched with the
                experimental data. The resolution matrix of those parameters are calculated through the Monte Carlo
                simulation.</div>
            </div>
            <!-- 7 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/hill-monte-carlo">Parameter
                  Estimation <br />
                  Hill Sto DLS</a> </div>
              <div class="d-flex w-50">Hill Model Parameters K1, K2, Y, L' are estimated by DLS method against
                Experimental Data through Monte Carlo simulation.</div>
            </div>
            <!-- 8 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/simulated-annealing">Parameter
                  Optimization <br /> SIMANN</a> </div>
              <div class="d-flex w-50">Kinetic Parameters, kb, kt, k1+, k2+ of MG model are optimazed by simulated
                annealing (SIMANN) global method against the experimental data.</div>
            </div>
            <!-- 9 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/quasi-newton">Parameter
                  Optimization <br /> Quasi-Newton</a> </div>
              <div class="d-flex w-50">Kinetic Parameters, kb, kt, k1+, k2+ of MG model are optimazed by Quasi-Newton
                method against the experimental data.</div>
            </div>
            <!-- 10 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/david">Parameter Estimation
                  <br /> David
                  DLS</a> </div>
              <div class="d-flex w-50">Kinetic Parameters, Kti, GAMA of David model are matched with the experimental
                data.</div>
            </div>
            <!-- 11 -->
            <div class="d-flex w-100 pb-3">
              <div class="d-flex w-20  pl-5 text-bold"> <a class="navlink-active" href="#/widgets">Parameter Estimation
                  <br /> ATPase
                  DLS</a> </div>
              <div class="d-flex w-50">Kinetic Parameters of ATPase model are matched with the experimental data.</div>
            </div>
          </div>

          <div class="d-flex text-div w-100">
              Output data of all simulations as well as parameter convergence data are
                  presented in a form of graphs,
                  but also available in csv format ready for download.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>