.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .table_form {
    min-width: 550px;
    padding: 0px;
  }
  
  .table_form p {
    font-size: 10px;
    text-align: right;
  }
  
  .table_form input {
    height: 25px;
    text-align: center;
    max-width: 100px;
  }
  