<div class="animated fadeIn col-sm-12">
  <div class="example-container col-sm-6" style="float: left;">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <table class="table_form">
          <tr>
            <td><p>Total Time [s]:</p></td>
            <td  class="form-group"><input class="form-control"  type="number" formControlName="s"></td>
          </tr>
          <tr>
            <td><p>Equilibrium Constant Beetwen the Blocked and Closed States (Kb):</p></td>
            <td  class="form-group"><input class="form-control"  type="number" formControlName="kb_plus"></td>
          </tr>
          <tr>
            <td><p>Backward Rate Constant Beetwen the Blocked and Closed States (kb-):</p></td>
            <td  class="form-group"><input class="form-control"  type="number" formControlName="kb_minus"></td>
          </tr>
          <tr>
            <td><p>Equlibrium Constant Beetwen the Closed and Open States (Kt):</p></td>
            <td  class="form-group"><input class="form-control"  type="number" formControlName="kt_plus"></td>
          </tr>
          <tr>
            <td><p>Backward Rate Constant Beetwen the Closed and Open States (kt-):</p></td>
            <td  class="form-group"><input class="form-control"  type="number" formControlName="kt_minus"></td>
          </tr>
          <tr>
            <td><p>Forward Rate Constant of Myosin Weak Binding (k1+ [1/(M*s)]):</p></td>
            <td class="form-group"><input class="form-control" formControlName="k1_plus"></td>
          </tr  >
          <tr>
            <td><p>Backward Rate Constant of Myosin Weak Binding (k1- [1/s]):</p></td>
            <td  class="form-group"><input class="form-control"  type="number" formControlName="k1_minus"></td>
          </tr>
          <tr>
            <td><p>Forward Isomerization Rate Constant (k2+ [1/s]):</p></td>
            <td  class="form-group"><input  class="form-control" type="number" formControlName="k2_plus"></td>
          </tr>
          <tr>
            <td><p>Backward Isomerization Rate Constant (k2- [1/s]):</p></td>
            <td class="form-group"><input class="form-control"  type="number" formControlName="k2_minus"></td>
          </tr>
          <tr>
            <td><p>Molar Concentration of Actin [uM]:</p></td>
            <td  class="form-group"><input class="form-control" type="number" formControlName="molar_concentration_of_actin" ></td>
          </tr>
          <!--<tr>
            <td><p>Type of Simulation</p></td>
            <td><input type="radio"><p>Time Course</p><input type="radio"><p>Titration</p></td>
          </tr>-->
          <tr>
            <td><p>Molar Concentration of Myosin [uM]:</p></td>
            <td class="form-group"><input class="form-control" type="number" formControlName="molar_concentration_of_myosin"></td>
          </tr>
          <tr>
            <td><button class="btn btn-primary" [disabled]="!profileForm.valid" >Run Simulation</button></td>
          </tr>
        </table>
      </form>
  </div>
  <div class="card col-sm-6" style="float: right">
    <div class="card-body">
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="card col-sm-6">
  </div>
</div>
