// Here you can add other styles


preff-size400 {
  flex-basis: 200px !important;
  flex-shrink: 0;
}

uf2 {
  //flex-flow: row wrap;
  flex: 0 0 auto;
}

html {
  font-size: $global-font-size !important;
}

.chart {
  font-size: 0.5rem !important;
}

body {
  font-size: 1rem !important;
}

input{ padding: 0 !important;}

.my-font-sm {
  font-size: 0.85rem;
}

.my-font-sm75 {
  font-size: 0.9rem !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-13 {
  width: 13% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-31 {
  width: 31% !important;
}

.w-35 {
  width: 35% !important;
}

.w-36 {
  width: 36% !important;
}

.w-37 {
  width: 37% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
} 
.w-46 {
  width: 46% !important;
}


.w-52 {
  width: 52% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}


.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.p-1 {
  padding: 0.1rem !important;
}




