<div class="animated fadeIn d-flex">
  <div class="d-flex w-100 flex-wrap ">
    <!--Parameters-->
    <div class="d-flex w-30 p-2 align-self-start flex-min-width">
      <div class="d-flex card card-accent-primary ">
        <div class="card-header">
          SIMULATION AND MODEL DATA
        </div>
        <div class="card-body d-flex w-100  ">
          <div class="d-flex flex-column w-100">
            <div class="d-flex w-100 pt-1 align-content-end">
              <div class="d-flex w-60"> &nbsp; </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <button type="submit" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                  (click)="saveSimulation()">SAVE</button>
              </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <input style="display: none" type="file" (change)="openSaveSimulation($event)" #fileInput>
                <button class="btn btn-sm btn-primary d-flex flex-fill btn-align" (click)="fileInput.click()">
                  OPEN
                </button>
              </div>
            </div>

            <form [formGroup]="profileForm" (ngSubmit)="openConfirmationDialog()">

              <div class="d-flex flex-column w-100">


                <div class="d-flex title-div pb-1">
                  Simulation parameters and experimental data
                </div>
                <div class="d-flex flex-column w-100 pt-2">

                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Epsilon:</span>
                    </div>
                    <div class="w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.epsilon}}
                        formControlName="epsilon">
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Number of iterations:</span>
                    </div>
                    <div class="w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.number_of_iteration}}
                        formControlName="number_of_iteration">
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Experimental Data File:</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100" type="file" id="a_t" (change)="handleFileInput($event.target.files)">
                    </div>
                  </div>
                </div>

                <div class="d-flex title-div pb-1">
                  Fixed model parameters
                </div>
                <div class="d-flex w-100 pt-2">
                  <!-- LEVA KOLONA-->
                  <div class="d-flex flex-column w-40">

                    <div class="d-flex w-100">
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">KD*:</span>
                      </div>
                      <div class="d-flex w-50 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kd_star}}
                          formControlName="kd_star">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">kD*-:</span>
                      </div>
                      <div class="d-flex w-50 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kd_star_minus}}
                          formControlName="kd_star_minus">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">KD: </span>
                      </div>
                      <div class="d-flex w-50 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kd}}
                          formControlName="kd">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">kD-:</span>
                      </div>
                      <div class="d-flex w-50 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kd_minus}}
                          formControlName="kd_minus">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>


                  </div>
                  <!-- DESNA KOLONA-->
                  <div class="d-flex flex-column w-60">

                    <div class="d-flex w-100">
                      <div class="w-52 p-1">
                        <span style="vertical-align: middle">Concentration of Actin:</span>
                      </div>
                      <div class="w-35 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.actin}}
                          formControlName="actin">
                      </div>
                      <div class="w-13 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-52 p-1">
                        <span style="vertical-align: middle">Concentration of Myosin:</span>
                      </div>
                      <div class="w-35 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.myosin}}
                          formControlName="myosin">
                      </div>
                      <div class="w-13 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-52 p-1">
                        <span style="vertical-align: middle">Concentration of Pi:</span>
                      </div>
                      <div class="w-35 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.pi}}
                          formControlName="pi">
                      </div>
                      <div class="w-13 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <!--div class="d-flex w-10"></div-->
                      <div class="w-52 p-1">
                        <span style="vertical-align: middle">Concentration of DPi:</span>
                      </div>
                      <div class="w-35 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.dpi}}
                          formControlName="dpi">
                      </div>
                      <div class="w-13 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-52 p-1">
                        <span style="vertical-align: middle">Concentration of TPi:</span>
                      </div>
                      <div class="w-35 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.tpi}}
                          formControlName="tpi">
                      </div>
                      <div class="w-13 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>


                  </div>
                </div>

              </div>

              <div class="d-flex flex-column w-100 pt-2">
                <div class="d-flex title-div pb-1">
                  Parameters for estimation
                </div>
                <!--<div class="d-flex text-center pt-2 text-bottom"> -->
                <div class="d-flex text-center pt-2 my-font-sm75">
                  <div class="w-40 p-1"></div>
                  <div class="w-10 p-1 align-self-end">Fitting</div>
                  <div class="d-flex w-50">
                    <div class="w-25 p-1 align-self-end">Guess 1</div>
                    <div class="w-25 p-1 align-self-end">Guess 2</div>
                    <div class="w-25 p-1 align-self-end">Lower Bound</div>
                    <div class="w-25 p-1 align-self-end">Upper Bound</div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">KA:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.ka}}
                        formControlName="ka">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.ka_fiting"
                      formControlName="ka_fiting" (ngModelChange)="onCheckboxChange('ka_fiting', 'ka_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.ka_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.ka_guess_of_params1}}
                        formControlName="ka_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.ka_guess_of_params2}}
                        formControlName="ka_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.ka_lower_bound}}
                        formControlName="ka_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.ka_upper_bound}}
                        formControlName="ka_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kA-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.ka_minus}}
                        formControlName="ka_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.ka_minus_fiting"
                      formControlName="ka_minus_fiting"
                      (ngModelChange)="onCheckboxChange('ka_minus_fiting', 'ka_fiting')">
                  </div>
                  <div *ngIf="this.inputData.ka_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.ka_minus_guess_of_params1}}
                        formControlName="ka_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.ka_minus_guess_of_params2}}
                        formControlName="ka_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.ka_minus_lower_bound}}
                        formControlName="ka_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.ka_minus_upper_bound}}
                        formControlName="ka_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">KPi:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kpi}}
                        formControlName="kpi">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kpi_fiting"
                      formControlName="kpi_fiting" (ngModelChange)="onCheckboxChange('kpi_fiting', 'kpi_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kpi_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kpi_guess_of_params1}}
                        formControlName="kpi_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kpi_guess_of_params2}}
                        formControlName="kpi_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kpi_lower_bound}}
                        formControlName="kpi_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kpi_upper_bound}}
                        formControlName="kpi_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kPi-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kpi_minus}}
                        formControlName="kpi_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kpi_minus_fiting"
                      formControlName="kpi_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kpi_minus_fiting', 'kpi_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kpi_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kpi_minus_guess_of_params1}}
                        formControlName="kpi_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kpi_minus_guess_of_params2}}
                        formControlName="kpi_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kpi_minus_lower_bound}} formControlName="kpi_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kpi_minus_upper_bound}} formControlName="kpi_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">KT:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt}}
                        formControlName="kt">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kt_fiting"
                      formControlName="kt_fiting" (ngModelChange)="onCheckboxChange('kt_fiting', 'kt_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_guess_of_params1}}
                        formControlName="kt_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_guess_of_params2}}
                        formControlName="kt_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_lower_bound}}
                        formControlName="kt_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_upper_bound}}
                        formControlName="kt_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kT-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_minus}}
                        formControlName="kt_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center ">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kt_minus_fiting"
                      formControlName="kt_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kt_minus_fiting', 'kt_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_minus_guess_of_params1}}
                        formControlName="kt_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_minus_guess_of_params2}}
                        formControlName="kt_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_minus_lower_bound}}
                        formControlName="kt_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_minus_upper_bound}}
                        formControlName="kt_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">KT*:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_star}}
                        formControlName="kt_star">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kt_star_fiting"
                      formControlName="kt_star_fiting"
                      (ngModelChange)="onCheckboxChange('kt_star_fiting', 'kt_star_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_star_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_guess_of_params1}} formControlName="kt_star_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_guess_of_params2}} formControlName="kt_star_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_star_lower_bound}}
                        formControlName="kt_star_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_star_upper_bound}}
                        formControlName="kt_star_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kT*-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_star_minus}}
                        formControlName="kt_star_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox"
                      [(ngModel)]="this.inputData.kt_star_minus_fiting" formControlName="kt_star_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kt_star_minus_fiting', 'kt_star_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_star_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_minus_guess_of_params1}}
                        formControlName="kt_star_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_minus_guess_of_params2}}
                        formControlName="kt_star_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_minus_lower_bound}}
                        formControlName="kt_star_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_minus_upper_bound}}
                        formControlName="kt_star_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">KT**:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_star_star}}
                        formControlName="kt_star_star">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox"
                      [(ngModel)]="this.inputData.kt_star_star_fiting" formControlName="kt_star_star_fiting"
                      (ngModelChange)="onCheckboxChange('kt_star_star_fiting', 'kt_star_star_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_star_star_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_guess_of_params1}}
                        formControlName="kt_star_star_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_guess_of_params2}}
                        formControlName="kt_star_star_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_lower_bound}} formControlName="kt_star_star_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_upper_bound}} formControlName="kt_star_star_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kT**-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_star_star_minus}}
                        formControlName="kt_star_star_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox"
                      [(ngModel)]="this.inputData.kt_star_star_minus_fiting" formControlName="kt_star_star_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kt_star_star_minus_fiting', 'kt_star_star_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_star_star_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_minus_guess_of_params1}}
                        formControlName="kt_star_star_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_minus_guess_of_params2}}
                        formControlName="kt_star_star_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_minus_lower_bound}}
                        formControlName="kt_star_star_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_star_star_minus_upper_bound}}
                        formControlName="kt_star_star_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">KH:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kh}}
                        formControlName="kh">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kh_fiting"
                      formControlName="kh_fiting" (ngModelChange)="onCheckboxChange('kh_fiting', 'kh_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kh_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kh_guess_of_params1}}
                        formControlName="kh_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kh_guess_of_params2}}
                        formControlName="kh_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kh_lower_bound}}
                        formControlName="kh_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kh_upper_bound}}
                        formControlName="kh_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kH-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kh_minus}}
                        formControlName="kh_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kh_minus_fiting"
                      formControlName="kh_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kh_minus_fiting', 'kh_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kh_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kh_minus_guess_of_params1}}
                        formControlName="kh_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kh_minus_guess_of_params2}}
                        formControlName="kh_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kh_minus_lower_bound}}
                        formControlName="kh_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kh_minus_upper_bound}}
                        formControlName="kh_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">KAh:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kah}}
                        formControlName="kah">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kah_fiting"
                      formControlName="kah_fiting" (ngModelChange)="onCheckboxChange('kah_fiting', 'kah_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kah_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kah_guess_of_params1}}
                        formControlName="kah_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kah_guess_of_params2}}
                        formControlName="kah_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kah_lower_bound}}
                        formControlName="kah_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kah_upper_bound}}
                        formControlName="kah_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kAh-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kah_minus}}
                        formControlName="kah_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kah_minus_fiting"
                      formControlName="kah_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kah_minus_fiting', 'kah_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kah_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kah_minus_guess_of_params1}}
                        formControlName="kah_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kah_minus_guess_of_params2}}
                        formControlName="kah_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kah_minus_lower_bound}} formControlName="kah_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kah_minus_upper_bound}} formControlName="kah_minus_upper_bound">
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 pt-3">
                <div class="d-flex w-80"> &nbsp; </div>
                <div class="d-flex w-20 pl-1 pr-1">
                  <button id="dugmeRun" type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                    [disabled]="dugmeRun">{{run_button}}</button>
                </div>
                <!--div class="d-flex w-25 ">
                  <button type="submit" class="btn btn-sm btn-primary" [disabled]="!profileForm.valid">SAVE Current
                    Test</button>
                </div>
                <div class="d-flex w-25 ">
                  <button type="submit" class="btn btn-sm btn-primary" [disabled]="!profileForm.valid">OPEN Saved
                    Test</button>
                </div-->
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex w-70 p-2">
      <div class="d-flex card card-accent-primary w-100">
        <div class="card-header">
          RESULTS
          <span class="float-right" tooltip="Download graphic data" placement="left">
            <i (click)="download()" class="fa fa-cloud-download" style="font-size:16px"></i>
          </span>
        </div>
        <div class="card-body d-flex w-100">
          <div class="d-flex flex-column w-100 mv-400">
            <div class="d-flex w-100 h-5 justify-content-around">

            </div>
            <div class="d-flex flex-column w-100 pt-2">
              <div class="d-flex w-100 flex-wrap justify-content-around">

                <!--            <div *ngIf="!isVisible" class="w-50 p-2 mw-350" (click)="isVisible = !isVisible"> -->
                <div class="w-25 tbl-10">
                  <!--style="height:300px;margin-top:40px;"-->
                  <div class="d-flex pb-10 title-div-table">
                    Estimated values
                  </div>
                  <!--div class="table-responsive">-->
                  <div class="tbl-10">
                    <table class="table table-condensed " *ngIf="isVisible">
                      <!--table-striped-->
                      <tbody>
                        <tr *ngFor="let row of dataSource">
                          <td *ngFor="let col of row" class="td td-1">{{col}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="w-60 tbl-10 ">
                  <div class="d-flex pb-10 title-div-table">
                    Resolution matrix
                  </div>
                  <div class="tbl-8kolona">
                    <table class="table table-condensed" *ngIf="isVisible">
                      <tbody>
                        <tr *ngFor="let row of sensitivityMatrix">
                          <td *ngFor="let col of row" class="td td-1">{{col}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 flex-wrap justify-content-around align-content-start">
                <div class="w-100 p-2 mw-350">
                  <div class="chart-wrapper">
                    <canvas id="experimentalModelGraph"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex title-div-2 w-100 h-20 p-3 justify-content-around">
              Estimated parameters convergation
            </div>
            <div class="d-inline-flex p-2 w-100 flex-wrap justify-content-center">
              <div class="w-100">
                <div class="chart-wrapper">
                  <canvas id="parametersConvergance"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>