<div class="animated fadeIn d-flex">
  <div class="d-flex w-100 flex-wrap ">
    <!--Parameters-->
    <div class="d-flex w-30 p-2 align-self-start flex-min-width">
      <div class="d-flex card card-accent-primary ">
        <div class="card-header">
          SIMULATION AND MODEL DATA
        </div>
        <div class="card-body d-flex w-100  ">
          <div class="d-flex flex-column w-100">
            <div class="d-flex w-100 pt-1 align-content-end">
              <div class="d-flex w-60"> &nbsp; </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <button type="submit" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                  (click)="saveSimulation()">SAVE</button>
              </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <input style="display: none" type="file" (change)="openSaveSimulation($event)" #fileInput>
                <button class="btn btn-sm btn-primary d-flex flex-fill btn-align" (click)="fileInput.click()">
                  OPEN
                </button>
              </div>
            </div>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <div class="d-flex flex-column w-100">
                <div class="d-flex title-div pb-1">
                  Simulation parameters and experimental data
                </div>
                <div class="d-flex flex-column w-100 pt-2">
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Total time:</span>
                    </div>
                    <div class="w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.s}}
                        formControlName="s">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[s]</span>
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Epsilon:</span>
                    </div>
                    <div class="w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.epsilon}}
                        formControlName="epsilon">
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Number of iterations:</span>
                    </div>
                    <div class="w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.number_of_iteration}}
                        formControlName="number_of_iteration">
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Experimental Data File:</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100" type="file" id="a_t" (change)="handleFileInput($event.target.files)">
                    </div>
                  </div>
                  <div class="d-flex w-100 pt-3">
                    <div class="d-flex w-30">
                      <span>Type of Simulation</span>
                    </div>
                    <div class="d-flex flex-column w-55">
                      <div class="form-check">
                        <input name="simType" class="form-check-input" type="radio" [value]="1"
                          [(ngModel)]="typeOfSimulation" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="radio1">Time Course</label>
                      </div>
                      <div class="form-check">
                        <input name="simType" class="form-check-input" type="radio" [value]="2"
                          [(ngModel)]="typeOfSimulation" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="radio3">Titration</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="d-flex flex-column w-100 pt-2">
                <div class="d-flex title-div pb-1">
                  Fixed model parameters
                </div>
                <div class="d-flex w-100 pt-2">
                  <!-- LEVA KOLONA-->
                  <div class="d-flex flex-column w-50">

                    <div *ngIf="typeOfSimulation === 1" class="d-flex w-100">
                      <div class="w-37 p-1" tooltip="Molar Concentration of Myosin">
                        <span style="vertical-align: middle">Myosin</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.myosin}}
                          formControlName="myosin">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                    <div *ngIf="typeOfSimulation === 2" class="d-flex w-100">
                      <div class="w-37 p-1" tooltip="Molar Concentration of Myosin (Initial)">
                        <span style="vertical-align: middle">Myosin Initial</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.myosin}}
                          formControlName="myosin">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                    <div *ngIf="typeOfSimulation === 2" class="d-flex w-100">
                      <div class="w-37 p-1" tooltip="Molar Concentration of Myosin (Final)">
                        <span style="vertical-align: middle">Myosin Final</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.final_myosin}}
                          formControlName="final_myosin">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>
                  </div>
                  <!-- DESNA KOLONA-->
                  <div class="d-flex flex-column w-60">
                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">Actin:</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.actin}}
                          formControlName="actin">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex flex-column w-100 pt-2">
                <div class="d-flex title-div pb-1">
                  Parameters for estimation
                </div>
                <!--<div class="d-flex text-center pt-2 text-bottom"> -->
                <div class="d-flex text-center pt-2 my-font-sm75">
                  <div class="w-40 p-1"></div>
                  <div class="w-10 p-1 align-self-end">Fitting</div>
                  <div class="d-flex w-50">
                    <div class="w-25 p-1 align-self-end">Guess 1</div>
                    <div class="w-25 p-1 align-self-end">Guess 2</div>
                    <div class="w-25 p-1 align-self-end">Lower Bound</div>
                    <div class="w-25 p-1 align-self-end">Upper Bound</div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">Kb:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kb}}
                        formControlName="kb">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kb_fiting"
                      formControlName="kb_fiting" (ngModelChange)="onCheckboxChange('kb_fiting', 'kb_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kb_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kb_guess_of_params1}}
                        formControlName="kb_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kb_guess_of_params2}}
                        formControlName="kb_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kb_lower_bound}}
                        formControlName="kb_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kb_upper_bound}}
                        formControlName="kb_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kb-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kb_minus}}
                        formControlName="kb_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kb_minus_fiting"
                      formControlName="kb_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kb_minus_fiting', 'kb_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kb_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kb_minus_guess_of_params1}}
                        formControlName="kb_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kb_minus_guess_of_params2}}
                        formControlName="kb_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kb_minus_lower_bound}}
                        formControlName="kb_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kb_minus_upper_bound}}
                        formControlName="kb_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kt:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt}}
                        formControlName="kt">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kt_fiting"
                      formControlName="kt_fiting" (ngModelChange)="onCheckboxChange('kt_fiting', 'kt_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_guess_of_params1}}
                        formControlName="kt_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_guess_of_params2}}
                        formControlName="kt_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_lower_bound}}
                        formControlName="kt_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_upper_bound}}
                        formControlName="kt_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">kt-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_minus}}
                        formControlName="kt_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.kt_minus_fiting"
                      formControlName="kt_minus_fiting"
                      (ngModelChange)="onCheckboxChange('kt_minus_fiting', 'kt_fiting')">
                  </div>
                  <div *ngIf="this.inputData.kt_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_minus_guess_of_params1}}
                        formControlName="kt_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.kt_minus_guess_of_params2}}
                        formControlName="kt_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_minus_lower_bound}}
                        formControlName="kt_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.kt_minus_upper_bound}}
                        formControlName="kt_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">k1:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k1}}
                        formControlName="k1">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.k1_fiting"
                      formControlName="k1_fiting" (ngModelChange)="onCheckboxChange('k1_fiting', 'k1_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.k1_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k1_guess_of_params1}}
                        formControlName="k1_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k1_guess_of_params2}}
                        formControlName="k1_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k1_lower_bound}}
                        formControlName="k1_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k1_upper_bound}}
                        formControlName="k1_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">k1-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k1_minus}}
                        formControlName="k1_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center ">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.k1_minus_fiting"
                      formControlName="k1_minus_fiting"
                      (ngModelChange)="onCheckboxChange('k1_minus_fiting', 'k1_fiting')">
                  </div>
                  <div *ngIf="this.inputData.k1_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.k1_minus_guess_of_params1}}
                        formControlName="k1_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.k1_minus_guess_of_params2}}
                        formControlName="k1_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k1_minus_lower_bound}}
                        formControlName="k1_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k1_minus_upper_bound}}
                        formControlName="k1_minus_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">k2:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k2}}
                        formControlName="k2">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.k2_fiting"
                      formControlName="k2_fiting" (ngModelChange)="onCheckboxChange('k2_fiting', 'k2_minus_fiting')">
                  </div>
                  <div *ngIf="this.inputData.k2_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k2_guess_of_params1}}
                        formControlName="k2_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k2_guess_of_params2}}
                        formControlName="k2_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k2_lower_bound}}
                        formControlName="k2_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k2_upper_bound}}
                        formControlName="k2_upper_bound">
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="d-flex w-40">
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">k2-:</span>
                    </div>
                    <div class="d-flex w-50 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k2_minus}}
                        formControlName="k2_minus">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[uM]</span>
                    </div>
                  </div>
                  <div class="w-10 p-1 text-center">
                    <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.k2_minus_fiting"
                      formControlName="k2_minus_fiting"
                      (ngModelChange)="onCheckboxChange('k2_minus_fiting', 'k2_fiting')">
                  </div>
                  <div *ngIf="this.inputData.k2_minus_fiting" class="d-flex w-50">
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.k2_minus_guess_of_params1}}
                        formControlName="k2_minus_guess_of_params1">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text"
                        ngModel={{this.inputData.k2_minus_guess_of_params2}}
                        formControlName="k2_minus_guess_of_params2">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k2_minus_lower_bound}}
                        formControlName="k2_minus_lower_bound">
                    </div>
                    <div class="w-25 p-1">
                      <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.k2_minus_upper_bound}}
                        formControlName="kt_star_minus_upper_bound">
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 pt-3">
                <div class="d-flex w-80"> &nbsp; </div>
                <div class="d-flex w-20 pl-1 pr-1">
                  <button id="dugmeRun" type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                    [disabled]="dugmeRun">{{run_button}}</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex w-70 p-2">
      <div class="d-flex card card-accent-primary w-100">
        <div class="card-header">
          RESULTS
          <span class="float-right" tooltip="Download graphic data" placement="left">
            <i (click)="download()" class="fa fa-cloud-download" style="font-size:16px"></i>
          </span>
        </div>
        <div class="card-body d-flex w-100">
          <div class="d-flex flex-column w-100 mv-400">
            <div class="d-flex w-100 h-5 justify-content-around">
            </div>
            <div class="d-flex flex-column w-100 pt-2">
              <div class="d-flex w-100 flex-wrap justify-content-around">

                <!--            <div *ngIf="!isVisible" class="w-50 p-2 mw-350" (click)="isVisible = !isVisible"> -->
                <div class="w-25 tbl-10">
                  <!--style="height:300px;margin-top:40px;"-->
                  <div class="d-flex pb-10 title-div-table">
                    Estimated values
                  </div>
                  <!--div class="table-responsive">-->
                  <div class="tbl-10">
                    <table class="table table-condensed " *ngIf="isVisible">
                      <!--table-striped-->
                      <tbody>
                        <tr *ngFor="let row of dataSource">
                          <td *ngFor="let col of row" class="td td-1">{{col}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="w-60 tbl-10 ">
                  <div class="d-flex pb-10 title-div-table">
                    Resolution matrix
                  </div>
                  <div class="tbl-8kolona">
                    <table class="table table-condensed" *ngIf="isVisible">
                      <tbody>
                        <tr *ngFor="let row of sensitivityMatrix">
                          <td *ngFor="let col of row" class="td td-1">{{col}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 flex-wrap justify-content-around align-content-start">
                <div class="w-100 p-2 mw-350">
                  <div class="chart-wrapper">
                    <canvas id="experimentalModelGraph"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex title-div-2 w-100 h-20 p-3 justify-content-around">
              Estimated parameters convergation
            </div>
            <div class="d-inline-flex p-2 w-100 flex-wrap justify-content-center">
              <div class="w-100">
                <div class="chart-wrapper">
                  <canvas id="parametersConvergance"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>