<div class="example-container">
  <p>Probabilistic MG Model Simulation</p>
  <form form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <table class="table_form">
      <tr>
        <td><p>Total Time [s]:</p></td>
        <td><input matInput placeholder="" value="" formControlName="s" type="number"></td>
      </tr>
      <tr>
        <td><p>Equilibrium Constant Beetwen the Blocked and Closed States (Kb):</p></td>
        <td><input matInput placeholder="" value="" formControlName="kb_plus" type="number"></td>
      </tr>
      <tr>
        <td><p>Backward Rate Constant Beetwen the Blocked and Closed States (kb-):</p></td>
        <td><input matInput placeholder="" value="" formControlName="kb_minus" type="number"></td>
      </tr>
      <tr>
        <td><p>Equlibrium Constant Beetwen the Closed and Open States (Kt):</p></td>
        <td><input matInput placeholder="" value="" formControlName="kt_plus" type="number"></td>
      </tr>
      <tr>
        <td><p>Backward Rate Constant Beetwen the Closed and Open States (kt-):</p></td>
        <td><input matInput placeholder="" value="" formControlName="kt_minus" type="number"></td>
      </tr>
      <tr>
        <td><p>Forward Rate Constant of Myosin Weak Binding (k1+ [1/(M*s)]):</p></td>
        <td><input matInput placeholder="" value="" formControlName="k1_plus"></td>
      </tr>
      <tr>
        <td><p>Backward Rate Constant of Myosin Weak Binding (k1- [1/s]):</p></td>
        <td><input matInput placeholder="" value="" formControlName="k1_minus" type="number"></td>
      </tr>
      <tr>
        <td><p>Forward Isomerization Rate Constant (k2+ [1/s]):</p></td>
        <td><input matInput placeholder="" value="" formControlName="k2_plus" type="number"></td>
      </tr>
      <tr>
        <td><p>Backward Isomerization Rate Constant (k2- [1/s]):</p></td>
        <td><input matInput placeholder="" value="" formControlName="k2_minus" type="number"></td>
      </tr>
      <tr>
        <td><p>Molar Concentration of Actin [uM]:</p></td>
        <td><input matInput placeholder="" value="" formControlName="molar_concentration_of_actin" type="number"></td>
      </tr>
      <!--<tr>
        <td><p>Type of Simulation</p></td>
        <td><input type="radio"><p>Time Course</p><input type="radio"><p>Titration</p></td>
      </tr>-->
      <tr>
        <td><p>Molar Concentration of Myosin [uM]:</p></td>
        <td><input matInput placeholder="" value="" formControlName="molar_concentration_of_myosin" type="number"></td>
      </tr>
      <tr>
        <td><button type="submit" [disabled]="!profileForm.valid">Run Simulation</button></td>
      </tr>
    </table>
  </form>
</div>