<div class="animated fadeIn d-flex">
  <div class="d-flex w-100 flex-wrap ">
    <div class="d-flex w-100 flex-wrap" style="justify-content: flex-end;">
      <form [formGroup]="archiveForm">
        <table style="align-items: flex-end;">
        </table>
        <div class="d-flex w-100 pt-1 align-content-end">
          <div class="d-flex w-60"> &nbsp; </div>
          <div class="d-flex w-100 pl-1 pr-1">
            <input class="max-width-100posto text-align-right" type="text" formControlName="searchText">
          </div>
          <div class="d-flex w-20 pl-1 pr-1">
            <button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="search()">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex w-100 flex-wrap" style="justify-content: flex-end;">
      <table>
        <tbody>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('MG Probabilistic')">MG
              Probabilistic</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('MG Stochastic')">MG
              Stochastic</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('Hill Stochastic')">Hill
              Stochastic</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('Hill Probabilistic')">Hill
              Probabilistic</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('MG Probabilistic DLS')">MG
              Probabilistic DLS</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('MG Stochastic DLS')">MG
              Stochastic DLS</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('Hill Stochastic DLS')">Hill
              Stochastic DLS</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('MG Probabilistic SIMANN')">Simann</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('MG Probabilistic Quasi-Newton')">Quasi
              Newton</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('David DLS')">David
              DLS</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="searchByType('ATPase DLS')">ATPase</button></td>
          <td><button type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="clearFilter()">Clear filter</button></td>
        </tbody>
      </table>
    </div>
    <table class="table table-condensed ">
      <tbody>
        <tr>
          <th>Simulation Type</th>
          <th>Description</th>
          <th>Status</th>
          <th>Run date</th>
          <th></th>
        </tr>
        <tr *ngFor="let row of archiveData">
          <td class="td td-1">{{row.simulationType}}</td>
          <td class="td td-1">{{row.description}}</td>
          <td class="td td-1">{{row.status}}</td>
          <td class="td td-1">{{row.runDate}}</td>
          <td class="td td-1"><button class="btn btn-sm btn-primary d-flex flex-fill btn-align"
              (click)="openSimulation(row.simulation, row.simulationId)">Open</button></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex w-100 flex-wrap" style="justify-content: flex-end;">
      <table *ngIf="this.paginationVisible">
        <tbody>
          <td><button id="backVisible" type="submit w-50" class="btn btn-sm btn-primary d-flex flex-fill btn-align" style="width: 50px; height: 30px; text-align: center !important;"
              [disabled]="backVisible" (click)="back()">{{backBtn}}</button></td>
          <td><button id="nextVisible" type="submit w-50" class="btn btn-sm btn-primary d-flex flex-fill btn-align" style="width: 50px; height: 30px; text-align: center !important;"
              [disabled]="nextVisible" (click)="next()">{{nextBtn}}</button></td>
        </tbody>
      </table>
    </div>
  </div>
</div>