<div class="animated fadeIn d-flex">
  <div class="d-flex w-100 flex-wrap ">
    <!--Parameters-->
    <div class="d-flex w-30 p-2 align-self-start flex-min-width">
      <div class="d-flex card card-accent-primary ">
        <div class="card-header">
          SIMULATION AND MODEL DATA
        </div>
        <div class="card-body d-flex w-100  ">
          <div class="d-flex flex-column w-100">
            <div class="d-flex w-100 pt-1 align-content-end">
              <div class="d-flex w-60"> &nbsp; </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <button type="submit" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                  (click)="saveSimulation()">SAVE</button>
              </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <input style="display: none" type="file" (change)="openSaveSimulation($event)" #fileInput>
                <button class="btn btn-sm btn-primary d-flex flex-fill btn-align" (click)="fileInput.click()">
                  OPEN
                </button>
              </div>
            </div>
            <!--div class="d-flex flex-column w-100"-->
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

              <div class="d-flex flex-column w-100">

                <div class="d-flex title-div pb-1 pt-1">
                  Simulation parameters and experimental data
                </div>
                <div class="d-flex flex-column w-100 pt-2">

                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Total time</span>
                    </div>
                    <div class="d-flex w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.s}}
                        formControlName="s">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[s]</span>
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Alpha</span>
                    </div>
                    <div class="d-flex w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.alpha}}
                        formControlName="alpha">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Epsilon</span>
                    </div>
                    <div class="d-flex w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.epsilon}}
                        formControlName="epsilon">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">dt</span>
                    </div>
                    <div class="d-flex w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.dt}}
                        formControlName="dt">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Number of iteration</span>
                    </div>
                    <div class="d-flex w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.epsilon}}
                        formControlName="epsilon">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">No of repeats:</span>
                    </div>
                    <div class="w-15 p-1">
                      <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.no_of_repeats}}
                        formControlName="no_of_repeats">
                    </div>
                    <div class="w-25 p-1">
                      <span style="vertical-align: middle">[-]</span>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="w-30 p-1">
                      <span style="vertical-align: middle">Experimental Data File</span>
                    </div>
                    <div class="w-40 p-1">
                      <input class="w-100" type="file">
                    </div>
                  </div>
                </div>
                <div class="d-flex title-div pt-2 pb-1">
                  Fixed model parameters
                </div>
                <div class="d-flex w-100 pt-2">
                  <!-- LEVA KOLONA-->
                  <div class="d-flex flex-column w-50">

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">PHM1</span>
                      </div>
                      <div class="d-flex w-40 p-1 text-align-right">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.phm1}}
                          formControlName="phm1">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">KKM1</span>
                      </div>
                      <div class="d-flex w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.phm1}}
                          formControlName="phm1">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">ID1</span>
                      </div>
                      <div class="d-flex w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.id1}}
                          formControlName="id1">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">ID3</span>
                      </div>
                      <div class="d-flex w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.id3}}
                          formControlName="id3">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">KM1P</span>
                      </div>
                      <div class="d-flex w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.km1p}}
                          formControlName="km1p">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>


                  </div>
                  <!-- DESNA KOLONA-->
                  <div class="d-flex flex-column w-50">
                    <!--div class="d-flex w-100"> &nbsp;</div-->
                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">PHM2</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.phm2}}
                          formControlName="phm2">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">KKM2</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kkm2}}
                          formControlName="kkm2">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">ID2</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.id2}}
                          formControlName="id2">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>
                    <div class="d-flex w-100">
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">DM1</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.dm1}}
                          formControlName="dm1">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="d-flex flex-column w-100 pt-2">
                  <div class="d-flex title-div pb-1">
                    Parameters for estimation
                  </div>
                  <!--<div class="d-flex text-center pt-2 text-bottom"> -->
                  <div class="d-flex text-center pt-2 my-font-sm75">
                    <div class="w-40 p-1"></div>
                    <div class="w-10 p-1 align-self-end">Fitting</div>
                    <div class="d-flex w-50">
                      <div class="w-25 p-1 align-self-end">Guess 1</div>
                      <div class="w-25 p-1 align-self-end">Guess 2</div>
                      <div class="w-25 p-1 align-self-end">Lower Bound</div>
                      <div class="w-25 p-1 align-self-end">Upper Bound</div>
                    </div>
                  </div>

                  <!-- novo -->
                  <div class="d-flex">
                    <div class="d-flex w-40">
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">Tni</span>
                      </div>
                      <div class="d-flex w-50 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.tni}}
                          formControlName="tni">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>
                    <div class="w-10 p-1 text-center">
                      <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.tni_fiting"
                        formControlName="tni_fiting">
                    </div>
                    <div class="d-flex w-50">
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text"
                          ngModel={{this.inputData.tni_guess_of_params1}} formControlName="tni_guess_of_params1">
                      </div>
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text"
                          ngModel={{this.inputData.tni_guess_of_params2}} formControlName="tni_guess_of_params2">
                      </div>
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.tni_lower_bound}}
                          formControlName="tni_lower_bound">
                      </div>
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.tni_upper_bound}}
                          formControlName="tni_upper_bound">
                      </div>
                    </div>
                  </div>

                  <div class="d-flex">
                    <div class="d-flex w-40">
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">Gama</span>
                      </div>
                      <div class="d-flex w-50 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.gama}}
                          formControlName="gama">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>
                    <div class="w-10 p-1 text-center">
                      <input style="vertical-align: middle" type="checkbox" [(ngModel)]="this.inputData.gama_fiting"
                        formControlName="gama_fiting">
                    </div>
                    <div class="d-flex w-50">
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text"
                          ngModel={{this.inputData.gama_guess_of_params1}} formControlName="gama_guess_of_params1">
                      </div>
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text"
                          ngModel={{this.inputData.gama_guess_of_params2}} formControlName="gama_guess_of_params2">
                      </div>
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.gama_lower_bound}}
                          formControlName="gama_lower_bound">
                      </div>
                      <div class="w-25 p-1">
                        <input class="w-100 text-align-center" type="text" ngModel={{this.inputData.gama_upper_bound}}
                          formControlName="gama_upper_bound">
                      </div>
                    </div>
                  </div>
                  <!-- end novo-->

                </div>

                <div class="d-flex w-100 pt-3 ">
                  <div class="d-flex w-80"> &nbsp; </div>
                  <div class="d-flex w-20 pl-1 pr-1">
                    <button id="dugmeRun" type="submit" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                      [disabled]="dugmeRun">RUN </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex w-70 p-2">
      <div class="d-flex card card-accent-primary w-100">
        <div class="card-header">
          RESULTS
          <span class="float-right" tooltip="Download graphic data" placement="left">
            <i (click)="download()" class="fa fa-cloud-download" style="font-size:16px"></i>
          </span>
        </div>
        <div class="card-body d-flex w-100">
          <div class="d-flex flex-column w-100 mv-400">
            <div class="d-flex w-100 h-5 justify-content-around">
            </div>
            <div class="d-flex flex-column w-100 pt-2">
              <div class="d-flex w-100 flex-wrap justify-content-around">

                <!--            <div *ngIf="!isVisible" class="w-50 p-2 mw-350" (click)="isVisible = !isVisible"> -->
                <div class="w-25 tbl-10">
                  <!--style="height:300px;margin-top:40px;"-->
                  <div class="d-flex pb-10 title-div-table">
                    Estimated values
                  </div>
                  <!--div class="table-responsive">-->
                  <div class="tbl-10">
                    <table class="table table-condensed " *ngIf="isVisible">
                      <!--table-striped-->
                      <tbody>
                        <tr *ngFor="let row of dataSource">
                          <td *ngFor="let col of row" class="td td-1">{{col}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="w-60 tbl-10 ">
                  <div class="d-flex pb-10 title-div-table">
                    Resolution matrix
                  </div>
                  <div class="tbl-8kolona">
                    <table class="table table-condensed" *ngIf="isVisible">
                      <tbody>
                        <tr *ngFor="let row of sensitivityMatrix">
                          <td *ngFor="let col of row" class="td td-1">{{col}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 flex-wrap justify-content-around align-content-start">
                <div class="w-100 p-2 mw-350">
                  <div class="chart-wrapper">
                    <canvas id="experimentalModelGraph"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex title-div-2 w-100 h-20 p-3 justify-content-around">
              Estimated parameters convergation
            </div>
            <div class="d-inline-flex p-2 w-100 flex-wrap justify-content-center">
              <div class="w-100">
                <div class="chart-wrapper">
                  <canvas id="parametersConvergance"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>