<div class="animated fadeIn d-flex">
  <div class="d-flex w-100 flex-wrap">
    <!--Parameters-->
    <div class="d-flex w-30 p-2 align-self-start flex-min-width">
      <div class="d-flex w-100 card card-accent-primary">
        <div class="card-header">
          SIMULATION AND MODEL DATA
        </div>
        <div class="card-body d-flex w-100">
          <div class="d-flex flex-column w-100">
            <div class="d-flex w-100 pt-1 align-content-end">
              <div class="d-flex w-60"> &nbsp; </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <button type="submit" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                  (click)="saveSimulation()">SAVE</button>
              </div>
              <div class="d-flex w-20 pl-1 pr-1">
                <input style="display: none" type="file" (change)="openSaveSimulation($event)" #fileInput>
                <button class="btn btn-sm btn-primary d-flex flex-fill btn-align" (click)="fileInput.click()">
                  OPEN
                </button>
              </div>
            </div>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <div class="d-flex flex-column w-100">
                <div class="d-flex title-div pb-1">
                  Simulation paramaters
                </div>
                <div class="d-flex w-100 pt-2">
                  <div class="d-flex flex-column w-45">
                    <div class="d-flex w-100">
                      <div class="w-35 p-1">
                        <span style="vertical-align: middle">Total time:</span>
                      </div>
                      <div class="d-flex w-45 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.s}}
                          formControlName="s">
                      </div>
                      <div class="w-25 p-1">
                        <span style="vertical-align: middle">[s]</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-column w-55">
                    <div class="d-flex w-100">
                      <div class="d-flex w-45"><span>Type of Simulation</span></div>
                      <div class="d-flex flex-column w-55">
                        <div class="form-check">
                          <input name="simType" class="form-check-input" type="radio" [value]="1"
                            [(ngModel)]="typeOfSimulation" [ngModelOptions]="{standalone: true}">
                          <label class="form-check-label" for="radio1">Time Course</label>
                        </div>
                        <div class="form-check">
                          <input name="simType" class="form-check-input" type="radio" [value]="2"
                            [(ngModel)]="typeOfSimulation" [ngModelOptions]="{standalone: true}">
                          <label class="form-check-label" for="radio3">Titration</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex title-div pb-1 pt-3">
                  Fixed model parameters
                </div>

                <div class="d-flex w-100 pt-2">
                  <!-- LEVA KOLONA-->
                  <div class="d-flex flex-column w-50">

                    <div class="d-flex w-100">
                      <div class="w-36 p-1" tooltip="Equilibrium Constant Beetwen the Blocked and Closed States">
                        <span style="vertical-align: middle">Kb:</span>
                      </div>
                      <div class="d-flex w-40 p-1 text-align-right">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kb_plus}}
                          formControlName="kb_plus">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-36 p-1" tooltip="Equlibrium Constant Beetwen the Closed and Open States">
                        <span style="vertical-align: middle">Kt</span>
                      </div>
                      <div class="d-flex w-40 p-1 text-align-right">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_plus}}
                          formControlName="kt_plus">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-36 p-1" tooltip="Forward Rate Constant of Myosin Weak Binding">
                        <span style="vertical-align: middle">k1+</span>
                      </div>
                      <div class="d-flex w-40 p-1 text-align-right">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k1_plus}}
                          formControlName="k1_plus">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[1/(M*s)]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-36 p-1" tooltip="Forward Isomerization Rate Constant">
                        <span style="vertical-align: middle">k2+</span>
                      </div>
                      <div class="d-flex w-40 p-1 text-align-right">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k2_plus}}
                          formControlName="k2_plus">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[1/s]</span>
                      </div>
                    </div>

                    <div *ngIf="typeOfSimulation === 1" class="d-flex w-100">
                      <div class="w-36 p-1" tooltip="Molar Concentration of Myosin">
                        <span style="vertical-align: middle">Myosin</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text"
                          ngModel={{this.inputData.molar_concentration_of_myosin}}
                          formControlName="molar_concentration_of_myosin">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                    <div *ngIf="typeOfSimulation === 2" class="d-flex w-100">
                      <div class="w-36 p-1" tooltip="Molar Concentration of Myosin (Initial)">
                        <span style="vertical-align: middle">Myosin Initial</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text"
                          ngModel={{this.inputData.molar_concentration_of_myosin}}
                          formControlName="molar_concentration_of_myosin">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                    <div *ngIf="typeOfSimulation === 2" class="d-flex w-100">
                      <div class="w-36 p-1" tooltip="Molar Concentration of Myosin (Final)">
                        <span style="vertical-align: middle">Myosin Final</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.final_myosin}}
                          formControlName="final_myosin">
                      </div>
                      <div class="w-21 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                  </div>
                  <!-- DESNA KOLONA-->
                  <div class="d-flex flex-column w-50">
                    <!--div class="d-flex w-100"> &nbsp;</div-->

                    <div class="d-flex w-100">
                      <div class="w-30 p-1" tooltip="Backward Rate Constant Beetwen the Blocked and Closed States">
                        <span style="vertical-align: middle">Kb-:</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kb_minus}}
                          formControlName="kb_minus">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1" tooltip="Backward Rate Constant Beetwen the Closed and Open States">
                        <span style="vertical-align: middle">kt-:</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.kt_minus}}
                          formControlName="kt_minus">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1" tooltip="Backward Rate Constant of Myosin Weak Binding">
                        <span style="vertical-align: middle">k1-:</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k1_minus}}
                          formControlName="k1_minus">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[1/s]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1" tooltip="Backward Isomerization Rate Constant">
                        <span style="vertical-align: middle">k2-:</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.k2_minus}}
                          formControlName="k2_minus">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[1/s]</span>
                      </div>
                    </div>

                    <div class="d-flex w-100">
                      <div class="w-30 p-1" tooltip="Molar Concentration of Actin">
                        <span style="vertical-align: middle">Actin</span>
                      </div>
                      <div class="w-40 p-1">
                        <input class="w-100 text-align-right" type="text"
                          ngModel={{this.inputData.molar_concentration_of_actin}}
                          formControlName="molar_concentration_of_actin">
                      </div>
                      <div class="w-30 p-1">
                        <span style="vertical-align: middle">[uM]</span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="d-flex w-100 pt-3">

                  <div class="d-flex flex-column w-35">
                  </div>

                  <div class="d-flex flex-column w-65">


                    <div class="d-flex w-100">
                      <div class="w-46 p-1" tooltip="Cooperativity Factor">
                        <span style="vertical-align: middle">Cooperativity</span>
                      </div>
                      <div class="w-31 p-1">
                        <input class="w-100 text-align-right" type="text"
                          ngModel={{this.inputData.cooperativity_factor}} formControlName="cooperativity_factor">
                      </div>
                      <div class="w-10 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>
                    <div class="d-flex w-100">
                      <div class="w-46 p-1" tooltip="Negative Cooperativity Factor">
                        <span style="vertical-align: middle">Negative Cooperativity</span>
                      </div>
                      <div class="w-31 p-1">
                        <input class="w-100 text-align-right" type="text"
                          ngModel={{this.inputData.negative_cooperativity_factor}}
                          formControlName="negative_cooperativity_factor">
                      </div>
                      <div class="w-10 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>
                    <div class="d-flex w-100">
                      <div class="w-46 p-1" tooltip="Number of Filaments">
                        <span style="vertical-align: middle">Filaments</span>
                      </div>
                      <div class="w-31 p-1">
                        <input class="w-100 text-align-right" type="text" ngModel={{this.inputData.number_of_filaments}}
                          formControlName="number_of_filaments">
                      </div>
                      <div class="w-10 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>
                    <div class="d-flex w-100">
                      <div class="w-46 p-1" tooltip="Number of TmTn Units">
                        <span style="vertical-align: middle">TmTn Units</span>
                      </div>
                      <div class="w-31 p-1">
                        <input class="w-100 text-align-right" type="text"
                          ngModel={{this.inputData.number_of_tm_tn_units}} formControlName="number_of_tm_tn_units">
                      </div>
                      <div class="w-10 p-1">
                        <span style="vertical-align: middle">[-]</span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="d-flex w-100 pt-3 ">
                  <div class="d-flex w-80"> &nbsp; </div>
                  <div class="d-flex w-20 pl-1 pr-1">
                    <button id="dugmeRun" type="submit w-25" class="btn btn-sm btn-primary d-flex flex-fill btn-align"
                      [disabled]="dugmeRun">{{run_button}}</button>
                  </div>
                </div>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Gaphs-->
    <div class="d-flex w-70 p-2">
      <div class="d-flex card card-accent-primary w-100">
        <div class="card-header">
          RESULTS
          <span class="float-right" tooltip="Download graphic data" placement="left">
            <i (click)="download()" class="fa fa-cloud-download" style="font-size:16px"></i>
          </span>
        </div>
        <div class="d-inline-flex p-2 w-100 flex-wrap justify-content-center">
          <div class="w-100">
            <div class="chart-wrapper">
              <canvas id="graphData"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>