<div class="animated fadeIn d-flex">
  <div class="d-flex w-100 justify-content-center">

    <div class="d-flex card text-white bg-primary w-30">
      <div class="d-flex flex-column card-body pb-0">
        <div class="text-value title-center margine">Thin Filament Regulation </div>
        <div class="title-center">version 4.0</div>
        <div class="d-flex margine">Members online</div>

      </div>
      
    </div>
  </div>
</div>