.text-div {
    //color: cadetblue;
    font-size: 1.1rem;

    //border-bottom: 1px dashed lightblue;
  }
  
  .margine {
    margin-top: 2rem !important;
  }

  .title-center {
    text-align: center !important;
}
  