.sidenav-container {
  height: 100%;
  background: #00a65a;
}

.sidenav {
  width: 200px;
  background: #333232;
  color: #fff;
}

.sidenav .mat-toolbar {
  background: #00a65a;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
